<form action="/peeps/<%= @peep_id %>" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  <input type="text" name="content" placeholder="Make your mind up" />
  <input type="submit" value="Repost" />
</form>