<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <h1>Chitter</h1>
      <h2>Your Feed</h2>
        <ul>
          <% @peeps.each do |peep| %>
            <li class="peep" id="peep-<%= peep.id %>">
              <%= peep.content %>
              <form action="/peeps/<%= peep.id %>" method="post">
                <input type='hidden' name='_method' value='DELETE'/>
                <input type="submit" value="Delete"/>
              </form>
            </li>
          <% end %>
        </ul>
    <form action="/peeps" method="post">
      <input type="text" name="content" placeholder="What's Happening?" />
      <input type="submit" name="Post" value="Post"/>
    </form>
</body>
</html>

